@font-face {
  font-family: "Montserrat-light";
  src: url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-regular";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-bold";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-medium";
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}

html, body {
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.9);
}
/* #496cac20
#rgb 
#rrggbbaa
alpha -  0 - F
hexadecimal - 0 1 2 3 4 5 6 7 8 9 A B C D E F 
decimal - 0-9
rgba
*/
body::-webkit-scrollbar-thumb {
  background-color: #496cacdf;
  outline: 1px solid #496cacdf;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
/* Mobile First - Significa, comece primeiro pelo Mobile, ou Smartphone */
/* iPhone

Mediaquery - media queries
breakpoints
*/

@keyframes scrolldown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  30% {
    transform: translateY(20px);
    opacity: 0;
  }
  
}

@keyframes scrollup {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-5px);
  }
  
}

#seta1,
#seta2 {
  animation: scrolldown infinite ease 1s;
}
#bolinha {
  animation: scrollup infinite ease 1.5s;
}


@media only screen and (min-width: 320px) {

  #mouse, #bolinha { display: none; }
  .full-banner {
    width: 100%;
    height: 100vh;
    background: url("../images/background-411.jpg") no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .full-banner  svg {
    height: 50px;
    width: auto;
    position: absolute;
    bottom: 20px;
    cursor: pointer;
  }
  .full-banner a {
    display: block;
    position: absolute;
    width: 30px;
    bottom: 20px;
  }
  /* especificidade */

  header.top-site {
    width: 100%;
    min-height: 50px;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    z-index: 15;
  }
  #logo {
    margin-left: 10%;
  }
  #menu-hotdog {
    margin-right: 10%;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #menu-site ul {
    display: flex;
    flex-direction: column;
  }
  #menu-site {
    height: 100vh;
    width: 95vw;
    background-color: #fff;
    transition-duration: 0.5s;
    right: 0;
    top: 0;
    position: fixed;
    transform: translateX(800px);
    opacity: 0;
  }
  .body.open #menu-site {
    transform: translateX(0px);
    opacity: 1;
  }
  #menu-site ul {
    margin-top: 30%;
  }
  #menu-site li {
    text-align: center;
    min-height: 50px;
    font-size: 1.5em;
  }
  #menu-site a {
    text-decoration: none;
    color: #333;
    font-family: sans-serif;
  }

  .destak {
    /* border: solid 1px #fff; */
    width: 80%;
    min-height: 375px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .title-destak {
    width: 90%;
    border-top: solid 2px #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title-destak h1,
  .title-destak h2 {
    color: #fff;
    margin: 0;
  }

  .title-destak h2 {
    font-family: "Montserrat-medium";
    font-size: 1.2em;
    text-align: center;
  }
  .title-destak span {
    color: #fff;
    font-family: "Montserrat-light";
    font-size: 2em;
  }

  .title-destak h1 {
    font-family: "Montserrat-regular";
    font-size: 3em;
    text-transform: uppercase;
  }
  .full-banner form,
  .full-banner form label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .input-form-search {
    width: 90%;
    min-height: 45px;
    border: none;
    border-radius: 15px;
    margin-top: 4%;
    padding-left: 7%;
    outline: 0;
  }
  .full-banner .input-form-search,
  .full-banner .input-form-search::-webkit-input-placeholder {
    font-family: "Montserrat-light";
    font-size: 0.8em;
  }

  .full-banner .input-form-search::-webkit-input-placeholder {
    color: #ccc;
  }

  #menu-hotdog {
    cursor: pointer;
    align-self: flex-end;
    position: fixed;
    z-index: 20;
    width: 48px;
    height: 48px;
    top: 2%;
    background: url("../images/menu-hotdog.svg") no-repeat;
    background-size: contain;
    background-position-y: 10px;
    transition-duration: 0.5s;
  }

  body.open #menu-hotdog {
    transform: rotate(1440deg);
    background: url("../images/close.svg") no-repeat;
    background-size: contain;
  }

  /* *******************Começando o FOOTER************ */
  .footer-site {
    width: 100%;
    min-height: 186px;
    background: #282828;
    padding: 5%;
  }
  .footer-links {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-evenly;
  }
  .footer-links .link {
    flex-grow: 1;
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .copyright {
    width: 100%;
    height: 20px;
  }

  .copyright > p.copyright-text {
    font-family: "Montserrat-light";
    font-size: 0.6em;
    color: #fff;
    margin: 0;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-align: center;
  }

  .footer-site .link a {
    font-family: "Montserrat-light";
    color: #f4f4f4;
    text-decoration: none;
    font-size: 0.6em;
  }
  .footer-site .link-address {
    margin: 0;
    color: #f4f4f4;
    font-family: "Montserrat-light";
    font-size: 0.7em;
  }

  .footer-site .link.social-media {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  /* *******************Terminando o FOOTER************ */

  /* ***********Criando Galeria*********** */
  .caroussel-container {
    width:100%;
    overflow: hidden;
    height: 400px;
  }
  .caroussel-gallery .card {
    height: 352px;
    width: 237px;
    border: solid 1px #e4e4e4;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  /* Adicionei */
.caroussel-gallery {
  width: 95%;
  margin: 10px auto;
}
.slick-slide {
  margin: 15px;
}
  .slick-prev:before,
  .slick-next:before {
    color: #7f7f7f;
  }

  .title-slider {
    font-family: "Montserrat-bold";
    font-size:1.2em;
    margin-left: 5%;
  }

  .link-slider li {
    list-style: none;
    min-width: 50px;
    text-align: center;
  }
  .link-slider ul {
    display: flex;
    margin-left: 5%;
    margin-bottom: 2%;
  }
   .link-slider li > a {
     text-decoration: none;
     font-family: "Montserrat-regular";
     color: #aaa;
     font-size: 9px;
     padding-bottom: 5px;
   }
   .link-slider li > a.active {
     border-bottom: solid 3px red;
   }
   .card>h2 {
      font-family: "Montserrat-bold";
      margin: unset;
      font-size: 1.1em;
      width: 90%;
      text-align: center;
   }
    .card > h3 {
      font-family: "Montserrat-light";
      color: #BCBCBC;
      margin: unset;
   }
   .gallery-picture {
     width: 218px;
     height: 218px;
     border-radius: 20px;
     border: inherit;
     overflow: hidden;
     position: relative;
   }
   .gallery-picture img {
     height:100%;
   }

   .gallery-ellipse {
         width: 59px;
         height: 59px;
         border: none;
         margin: 5%;
         background: rgba(255, 255, 255, 0.8);
         position: absolute;
         border-radius: 50%;
         top: 0;
         right: 0;
         display: flex;
         align-items: center;
         justify-content: center;
   }
   .gallery-ellipse:focus svg,
   .gallery-ellipse:active svg,
   .gallery-ellipse:hover svg,
   .gallery-ellipse:visited svg {
    fill: red;
   }
  /* ***********Terminando Galeria*********** */

  .footer-site {
    position: relative;
  }
   #irparaotopo {
     width: 60px;
     height: 60px;
     background: #333;
     position: absolute;
     right: 5px;
     bottom: 157px;
     border-radius:50%;
     display: flex;
     align-items: center;
     justify-content: center;
   }
   #irparaotopo a {
     text-decoration: none;
     color: #fff;

   }
}
/* Android */
@media only screen and (min-width: 414px) {
  .full-banner {
    background: url("../images/background-414.jpg") no-repeat;
    background-size: cover;
  }
  .destak {
    min-height: 350px;
  }
  .title-destak {
    width: 80%;
  }
    .link-slider li {
      width: 70px;
    }
    .link-slider li>a {
      font-size: 11px;
    }

}
/* Tablets - Portrait */
@media only screen and (min-width: 768px) {
  .full-banner {
    background: url("../images/background-834.jpg") no-repeat;
    background-size: cover;
  }
  .desktop {
    display: block;
  }
  header.top-site {
    justify-content: space-between;
  }

  .destak {
    width: 90%;
    min-height: 500px;
  }
  .title-destak {
    width: 70%;
  }
  .title-destak h2 {
    font-size: 2em;
  }
  .title-destak span {
    font-size: 2.5em;
  }
  .full-banner .input-form-search,
  .full-banner .input-form-search::-webkit-input-placeholder {
    padding-top: 1%;
    font-family: "Montserrat-light";
    font-size: 1em;
  }

  .full-banner .input-form-search::-webkit-input-placeholder {
    color: #ccc;
  }
  .footer-site .link-address {
    align-self: flex-start;
  }
      .link-slider li {
        width: 100px;
      }

      .link-slider li>a {
        font-size: 14px;
      }
}
/* Desktop */
@media only screen and (min-width: 1200px) {
  #mouse,
  #bolinha {
    display: block;
  }
  /* .full-banner {
    background: url("../images/background-1920.jpg") no-repeat;
    background-size: cover;
  } */
  .full-banner {
    transition-duration: 0.3s;
    background: unset;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .mobile {
    display: none;
  }
  #menu-site ul {
    display: flex;
    flex-direction: row;
  }
  header.top-site {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0)
    );
    flex-direction: row;
  }
  #menu-site {
    height: 50px;
    width: 100%;
    background-color: unset;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10%;
    opacity: 1;
    right: unset;
    transform: unset;
  }
  #menu-site li {
    min-width: 150px;
    text-align: center;
  }
  #menu-site ul {
    margin-top: unset;
  }
  #menu-site li {
    min-height: unset;
    font-size: unset;
  }
  #menu-site a {
    color: #f4f4f4;
  }
  .destak {
    width: 80%;
  }
  .title-destak {
    width: 60%;
  }
  .input-form-search {
    width: 70%;
    min-height: 85px;
  }
  .title-destak h1 {
    font-size: 5em;
  }
  .footer-site {
    padding: 1%;
  }
  .footer-site .link.social-media {
    flex-direction: row;
    justify-content: center;
  }
  .footer-site .link.social-media > * {
    margin-right: 5%;
  }
  .link-slider li {
    width: 150px;
  }

  .link-slider li>a {
    font-size: 16px;
  }
  .card {
    transition-duration: 0.5s;
  }
  .card:hover {    
    cursor: pointer;
    transform: scale(1.2);
    transform-style: preserve-3d;
    box-shadow: rgba(33,33,33,0.8);
  }
  .card .gallery-picture img {
    transition-duration: 0.5s;
  }
  .card:hover .gallery-picture img {
    transform: scale(1.2);
    transform-style: preserve-3d;
  }
  
}
/* Extra Large */
@media only screen and (min-width: 1600px) {
}
