@font-face {
  font-family: "Montserrat-light";
  src: url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-regular";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-bold";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-medium";
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
/* Mobile First - Significa, comece primeiro pelo Mobile, ou Smartphone */
/* iPhone

Mediaquery - media queries
breakpoints
*/
@media only screen and (min-width: 320px) {
  .full-banner {
    width: 100%;
    height: 100vh;
    background: url("../images/background-411.jpg") no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* especificidade */

  header.top-site {
    width: 100%;
    min-height: 50px;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
  }
  #logo {
    margin-left: 10%;
  }
  #menu-hotdog {
    margin-right: 10%;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #menu-site ul {
    display: flex;
    flex-direction: column;
  }
  #menu-site {
    height: 100vh;
    width: 95vw;
    background-color: #fff;
    transition-duration: 0.5s;
    right: 0;
    top: 0;
    position: fixed;
    transform: translateX(800px);
    opacity: 0;
  }
  .body.open #menu-site {
    transform: translateX(0px);
    opacity: 1;
  }
  #menu-site ul {
    margin-top: 30%;
  }
  #menu-site li {
    text-align: center;
    min-height: 50px;
    font-size: 1.5em;
  }
  #menu-site a {
    text-decoration: none;
    color: #333;
    font-family: sans-serif;
  }

  .destak {
    /* border: solid 1px #fff; */
    width: 80%;
    min-height: 375px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .title-destak {
    width: 90%;
    border-top: solid 2px #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title-destak h1,
  .title-destak h2 {
    color: #fff;
    margin: 0;
  }

  .title-destak h2 {
    font-family: "Montserrat-medium";
    font-size: 1.2em;
    text-align: center;
  }
  .title-destak span {
    color: #fff;
    font-family: "Montserrat-light";
    font-size: 2em;
  }

  .title-destak h1 {
    font-family: "Montserrat-regular";
    font-size: 3em;
    text-transform: uppercase;
  }
  .full-banner form,
  .full-banner form label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .input-form-search {
    width: 90%;
    min-height: 45px;
    border: none;
    border-radius: 15px;
    margin-top: 4%;
    padding-left: 7%;
    outline: 0;
  }
  .full-banner .input-form-search,
  .full-banner .input-form-search::-webkit-input-placeholder {
    font-family: "Montserrat-light";
    font-size: 0.8em;
  }

  .full-banner .input-form-search::-webkit-input-placeholder {
    color: #ccc;
  }

  #menu-hotdog {
    cursor: pointer;
  }
}
/* Android */
@media only screen and (min-width: 414px) {
  .full-banner {
    background: url("../images/background-414.jpg") no-repeat;
    background-size: cover;
  }
  .destak {
    min-height: 350px;
  }
  .title-destak {
    width: 80%;
  }
}
/* Tablets - Portrait */
@media only screen and (min-width: 768px) {
  .full-banner {
    background: url("../images/background-834.jpg") no-repeat;
    background-size: cover;
  }
  .desktop {
    display: block;
  }
  header.top-site {
    justify-content: space-between;
  }

  .destak {
    width: 90%;
    min-height: 500px;
  }
  .title-destak {
    width: 70%;
  }
  .title-destak h2 {
    font-size: 2em;
  }
  .title-destak span {
    font-size: 2.5em;
  }
  .full-banner .input-form-search,
  .full-banner .input-form-search::-webkit-input-placeholder {
    padding-top: 1%;
    font-family: "Montserrat-light";
    font-size: 1em;
  }

  .full-banner .input-form-search::-webkit-input-placeholder {
    color: #ccc;
  }
}
/* Desktop */
@media only screen and (min-width: 1200px) {
  .full-banner {
    background: url("../images/background-1920.jpg") no-repeat;
    background-size: cover;
  }
  .mobile {
    display: none;
  }
  #menu-site ul {
    display: flex;
    flex-direction: row;
  }
  header.top-site {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0)
    );
  }
  #menu-site {
    height: 50px;
    width: 100%;
    background-color: unset;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10%;
  }
  #menu-site li {
    min-width: 150px;
    text-align: center;
  }
  #menu-site ul {
    margin-top: unset;
  }
  #menu-site li {
    min-height: unset;
    font-size: unset;
  }
  #menu-site a {
    color: #f4f4f4;
  }
  .destak {
    width: 80%;
  }
  .title-destak {
    width: 60%;
  }
  .input-form-search {
    width: 70%;
    min-height: 85px;
  }
  .title-destak h1 {
    font-size: 5em;
  }
}
/* Extra Large */
@media only screen and (min-width: 1600px) {
}
